body {
    background-color: #e9ecef;
  }
  
  .items {
    background-color: rgb(29, 29, 29);
  }
  
  .item {
    margin: 10px;
    display: inline-block;
    list-style-type: none;
  }
  
  .item a {
    color: goldenrod;
    text-decoration: none;
    font-size: 14px;
  }
  
  .item_first a {
    color: #fff !important;
  }
  
  .item a:hover {
    color: darkgrey;
  }
  
  .ıcerik a {
    color: #0d6efd;
    text-decoration: none;
  }
  
  .cesit ul li {
    list-style-position: inside;
  }
  
  .button1 {
    color: #fff;
    border: none;
    border-radius: 5px;
    height: 40px;
    width: 120px;
  }
  
  .card2 {
    color: #fff;
    border-radius: 5px;
    font-size: 13px;
    padding: 15px;
    
  }